html {
    scroll-behavior: smooth;
    overflow-x: hidden; /*hides horizontal scrollbar*/
}

#background-container {
    position: fixed;
    z-index: -1;
}

#bg {
    background: url('assets/background.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    height: 200vh; /*for #section1 and #section2*/
    width: 100vw;
    transform: scale(1.05);
}

#section1 {
    height: 100vh;
}

#section2 {
    height: 100vh;
}

#button-group a i {
    font-size: 10vw;
    margin: 0vw 7vw 0vw 7vw;
    color: white;
}