.bg {
    background: url('assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.transparent {
    background-color: rgba(45, 45, 64, 0.5);
}

.large {
    font-size: 6vw;
    opacity: 0.8;
    margin-top: 30vh;
}
